<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/farming.css">
</head>

<body>
    <!-- header开始 -->
    <header>
        <a href="#"><img src="images/farming/ulenp.png" alt=""></a>
        <a href="search.html">
            <div class="search">
                <img src="images/farming/search.png" alt="">
            </div>
        </a>
        <a href="#"><img src="images/farming/user.png" alt="" class="user"></a>
    </header>
    <!-- header结束 -->
    <!-- 轮播图开始 -->
    <div class="swiper-container section-banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="images/farming/1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="images/farming/2.jpg" alt=""></div>
            <div class="swiper-slide"><img src="images/farming/3.jpg" alt=""></div>
            <div class="swiper-slide"><img src="images/farming/4.jpg" alt=""></div>
            <div class="swiper-slide"><img src="images/farming/5.jpg" alt=""></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <!-- 轮播图结束 -->
    <!-- 导航开始 -->
    <div class="navbar">
        <div class="nav-top">
            <a href="helpoor.html" class="fupin">
                <i></i>扶贫助农
            </a>
            <a href="famousProduct.html" class="specialty">
                <i></i>农品专区
            </a>
            <a href="" class="selected">
                <i></i>农品特卖
            </a>
            <a href="" class="lab"><i></i>实验室快讯</a>
            <a href="class-nav.html" class="category"><i></i>全部分类</a>
        </div>
        <div class="nav-bottom">
            <a href="" class="fruits"><i></i>生鲜食品</a>
            <a href="" class="grain"><i></i>粮油副食</a>
            <a href="" class="snack"><i></i>休闲零食</a>
            <a href="" class="drysaltery"><i></i>山珍干货</a>
            <a href="" class="tea"><i></i>冲调茶饮</a>
        </div>
    </div>
    <!-- 导航结束 -->
    <!-- 轮播图--新闻开始 -->
    <div class="swiper-container section-new">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <p>
                    <i>NEW</i>
                    大力推广“茂名荔枝”核心品牌
                </p>
            </div>
            <div class="swiper-slide">
                <p>
                    <i>NEW</i>
                    邮乐网喜获农业农村部“助农APP榜样”
                </p>
            </div>
            <div class="swiper-slide">
                <p>
                    <i>NEW</i>
                    邮乐农品环保包装皖北地区全面试用
                </p>
            </div>
            <div class="swiper-slide">
                <p>
                    <i>NEW</i>
                    喜德苦荞粉飞出大山 孕育脱贫新希望
                </p>
            </div>
            <div class="swiper-slide">
                <p>
                    <i>NEW</i>
                    商务部电商扶贫座谈会顺利举办
                </p>
            </div>
        </div>
        <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide">| 换一条</div>
    </div>
    <!-- 轮播图--新闻结束 -->
    <!-- 超级拼团开始 -->
    <div class="groups">
        <img src="images/farming/groups.png" alt="" class = "group">
        <ul>
            <li>
                <img src="images/farming/group1.jpg" alt="">
                <p class = "price">
                    <span class = "old">拼团价</span>
                    <span>￥18.9</span>
                </p>
                <p class = "title">金沙桂圆农家自产小桂圆新货散装400克袋装</p>
                <p class = "btn">去拼团</p>
            </li>
            <li>
                <img src="images/farming/group2.jpg" alt="">
                <p class = "price">
                    <span class = "old">拼团价</span>
                    <span>￥35.8</span>
                </p>
                <p class = "title">金沙薏米糯薏米仁农家自产小薏仁新货五谷杂粮散装400克袋装</p>
                <p class = "btn">去拼团</p>
            </li>
            <li>
                <img src="images/farming/group3.jpg" alt="">
                <p class = "price">
                    <span class = "old">拼团价</span>
                    <span>￥34.8</span>
                </p>
                <p class = "title">边走边淘 广西高乐密芒果 5斤 单果200g 包邮</p>
                <p class = "btn">去拼团</p>
            </li>
        </ul>
    </div>
    <!-- 超级拼团结束 -->
    <!-- 农品选择开始 -->
    <div class="selected">
        <ul>
            <li>
                <a href="">
                    <img src="images/farming/selected1.jpg" alt="">
                    <p class = "title"> 月亮河  有机红米   2斤装  </p>
                    <p class = "tag">地标原产地</p>
                    <p class = "price">￥26.80</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="images/farming/selected2.jpg" alt="">
                    <p class = "title">  茯苓侗果   50g*3袋  </p>
                    <p class = "tag">地标原产地</p>
                    <p class = "price">￥9.90</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="images/farming/selected3.jpg" alt="">
                    <p class = "title"> 秭归 脐橙纽荷尔  5斤  </p>
                    <p class = "tag">地标原产地</p>
                    <p class = "price">￥25.80</p>
                </a>
            </li>
        </ul>
    </div>
    <!-- 农品选择结束 -->
    <!-- 今日秒杀开始 -->
    <div class="daykill">
        <img src="images/farming/seckill.png" alt="" class = 'seckday'>
        <ul>
    
        </ul>
    </div>
    <script type = "text/template" class = "day-ejs">
        <% if(list.code == 0){%>
            <% list.list.forEach(function(list){ %>
                <li>
                    <img src="<%=list.img%>" alt="">
                    <p>
                        <span class = "cost"><%=list.cost%></span>
                        <span class = "price"><%=list.price%></span>
                    </p>
                </li>
            <% }) %>
        <% } else { %>
            <li> 暂无信息 </li>
        <% } %>
    </script>
    <!-- 今日秒杀结束 -->
    <!-- 扶贫开始 -->
    <div class="fupin">
        <img src="images/farming/fupin.png" alt="" class = "fupi">
        <div class="fupinC">
            <div class="fupinH">
                <ul>
                    <li>
                        <a href="">
                            <img src="images/farming/shangzhou.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="images/farming/luoyang.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fupinG">
                <ul>
                    <li>
                        <a href="">
                            <img src="images/farming/fupinG-1.jpg" alt="" class = "fupinG-1">
                        </a>
                    </li>
                    <li class = "fupinGl">
                        <a href=""><img src="images/farming/fupinGl-1.jpg" alt="" class = "fu"></a>
                        <a href=""><img src="images/farming/fupinGl-2.jpg" alt="" class = "fu"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 扶贫结束 -->
    <!-- 达人俱乐部开始 -->
    <div class="daren">
        <img src="images/farming/club.png" alt="" class = "dare">
        <ul>
            
        </ul>
    </div>
    <script type = "text/template" class = "da-club">
        <% if(daren.code == 0){%>
            <% daren.list.forEach(function(list){ %>
                <li>
                    <img src="<%=list.img%>" alt="">
                </li>
            <% }) %>
        <% } else { %>
            <li> 暂无信息 </li>
        <% } %>
    </script>
    <!-- 达人俱乐部结束 -->
    <!-- 热门地方馆开始 -->
    <div class="hotH">
        <img src="images/farming/hot.png" alt="" class = "hot">
        <ul>
        </ul>
    </div>
    <script type = "text/template" class = "hot-house">
        <% if(hot.code == 0){%>
            <% hot.list.forEach(function(list){ %>
                <li>
                    <img src="<%=list.img%>" alt="">
                </li>
            <% }) %>
        <% } else { %>
            <li> 暂无信息 </li>
        <% } %>
    </script>
    <!-- 热门地方馆结束 -->
    <!-- 更多推荐开始 -->
    <div class="more">
        <img src="images/farming/more.png" alt="" class = "mor">
        <ul>

        </ul>
        <p>已经没有更多的数据了</p>
    </div>
    <script type = "text/template" class = "more-mo">
        <% if(more.returnCode == 0000){%>
            <% more.result.forEach(function(result){ %>
                <li>
                    <img src="<%=result.imgUrl%>" alt="">
                    <span class = "title">
                        <%=result.listingName%>
                    </span>
                    <div class = "price">
                        <span>
                            ￥<%=result.minPrice%>
                        </span>
                        <div>
                            <span><%=parseFloat(result.minPrice/result.maxPrice*10).toFixed(1)%></span>
                            折
                        </div>
                    </div>
                </li>
                
            <% }) %>
        <% } %>
    </script>
    <!-- 更多推荐结束 -->
    <script src="js/base.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/zepto.min.js"></script>
    <script src="js/ejs.js"></script>
    <script src="js/farming.js"></script>
</body>

<script>
    var bannerSwiper = new Swiper('.section-banner', {
        autoplay: true,
        loop: true,
        pagination: {
            el: '.swiper-pagination',
        },
    });
    var newSwiper = new Swiper('.section-new', {
      direction: 'vertical',
      loop: true,
      autoplay: {
          delay: 3000,
          disableOnInteraction: false,
      }
    });
</script>

</html>